
#search_field{
    overflow: hidden;
    margin-bottom: 1em /*5vh*/;
}

#search_field input{
    /*width: 100%;*/
    height: auto;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: 700;
    border-radius: 8px;
    width: 92%;
}

#search_field label{
    display: none;
}

#advanced_search_field{
    overflow: hidden;
    margin-top: 1em /*5vh*/;
}

#advanced_search_field table{
    width: 100%;
}
#advanced_search_field td{
    padding: 0.25em 0.5em;
}

#advanced_search_field input{
    width: 100%;
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
}


.search_field_active{
    height: auto;
}

.search_field_inactive{
    height: 0;
}


#advanced_fields_link{
    width: 100%;
    text-align: right;
    user-select: none; 
}