{% extends "main.html" %}

{% block title %}
    main page
{% endblock %}

{% block content %}
    <h1>Search</h1>
    <div class="margin_auto search_field_active" id="search_field">
        <form method="get" action="/search/">
            {{search_form}}
            <input type="submit" hidden />
        </form>
    </div>

    <div class="margin_auto search_field_inactive" id="advanced_search_field">
        <form method="get" action="/search/">
            {{ search_form_advanced.as_table }}
            <br>
            <input type="submit"/>
        </form>
    </div>

    <div id="advanced_fields_link" hidden>
        <a onclick="ToggleAdvancedFields()">Advanced</a>
        <script>
            var search_field = document.getElementById('search_field');
            var search_field_advanced = document.getElementById('advanced_search_field');
                
            var lsh = document.getElementById('id_search_term');//landing_searchbar
                
            var tagInactive = "search_field_inactive";
            var tagActive = "search_field_active";
            
            function ElementToggleActive(element){
                if(element.classList.contains(tagInactive)){
                    element.classList.remove(tagInactive);
                    element.classList.add(tagActive);
                } else {
                    element.classList.remove(tagActive);
                    element.classList.add(tagInactive);
                }
            }

            function ToggleAdvancedFields(){
                ElementToggleActive(search_field);
                ElementToggleActive(search_field_advanced);
            }
        </script>
    </div>
    
    {% block search_result %}{% endblock %}
{% endblock %}