{% extends "main.html" %}

{% block title %}
    Tree Type List
{% endblock %}

{% block content %}
    <h1>Tree Type List</h1>
    <div>
        <table cellspacing="0" class="margin_auto">
            <thead>
                <tr>
                    <td>
                        Swedish
                    </td>
                    <td>
                        Latin
                    </td>
                    <td>
                        Information
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for art in list_art %}
                    <tr>
                        <td>
                            {{ art.namn }}
                        </td>
                        <td>
                            {{ art.latin }}
                        </td>
                        <td>
                            <a href="{{ art.id }}">Wiki Link</a>
                        </td>
                    </tr>
                </a>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}