<h1>&#9783; List Art</h1>
    <div>
        <table cellspacing="0" class="margin_auto">
            <thead>
                <tr>
                    <td>
                        Swedish
                    </td>
                    <td>
                        Latin
                    </td>
                    <td>
                        Detail
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for art in list_art %}
                    <tr>
                        <td>
                            {{ art.namn }}
                        </td>
                        <td>
                            {{ art.latin }}
                        </td>
                        <td>
                            <a href="{% url 'list_art' %}{{ art.id }}">Overview Link</a>
                        </td>
                    </tr>
                </a>
                {% endfor %}
            </tbody>
        </table>
    </div>