<h1>&#9783; List Planta</h1>
    <div>
        <table cellspacing="0" class="margin_auto">
            <thead>
                <tr>
                    <td>
                        PVN
                    </td>
                    <td>
                        Art
                    </td>
                    <td>
                        Detail
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for planta in list_planta %}
                    <tr>
                        <td>
                            {{ planta.pvn }}
                        </td>
                        <td>
                            {{ planta.art.namn }}
                        </td>
                        <td>
                            <a href="{% url 'list_planta' %}{{ planta.id }}">Overview Link</a>
                        </td>
                    </tr>
                </a>
                {% endfor %}
            </tbody>
        </table>
    </div>