{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'MinimalTree.ico' %}">
        <title>ekobas - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'content.css' %}">
        <link rel="stylesheet" href="{% static 'landing.css' %}">
        <link rel="stylesheet" href="{% static 'detail.css' %}">
    </head>
    <body>

        <div id="header" class="content_box printHide">
            <div id="header_content" class="content">
                <table class="header_content_link_menu" cellspacing="0" class="margin_auto">
                    <tr>
                        <td><a class="header_content_link" href="/"><img src="{% static 'MinimalTree.ico' %}" id="header_content_icon"></img></a></td>
                        <td><a class="header_content_link" href="/">&#127969; Home</a></td>
                        <td><a class="header_content_link" href="{% url 'list_art' %}" >&#9783; List_Art</a></td>
                        <td><a class="header_content_link" href="{% url 'list_planta' %}" >&#9783; List_Planta</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="center" class="content_box">
            <div id="center_content" class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="footer" class="content_box printHide">
            <div id="footer_content" class="content">
                &#9982;
            </div>
        </div>

    </body>
</html>