{% extends "main.html" %}

{% block title %}
    Tree Instance List
{% endblock %}

{% block content %}
    <h1>Tree Instance List</h1>
    <div>
        <table cellspacing="0" class="margin_auto">
            <thead>
                <tr>
                    <td>
                        PVN
                    </td>
                    <td>
                        #
                    </td>
                    <td>
                        art
                    </td>
                    <td>
                        Overwiev
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for tree_instance in tree_instance_list %}
                    <tr>
                        <td>
                            {{ tree_instance.pvn }}
                        </td>
                        <td>
                            {{ tree_instance.diskriminator }}
                        </td>
                        <td>
                            {{ tree_instance.art }}
                        </td>
                        <td>
                            <a href="{{ tree_instance.id }}">Overview Link</a>
                        </td>
                    </tr>
                </a>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}