/*General*/
body{
    background-color: #999999;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 48px;
}

/*Title*/
h1{
    text-align: center;
    margin: auto;
}

/*link*/
a{
    font-weight: 600;
    color: #609;
}

a:hover{
    color: #90c;
}

a:visited{
    color: #306;
}

a:visited:hover{
    color: #609;
}

/*Table*/
table{
    background-color: #000;
}

thead tr{
    background-color: #e6e6e6 !important;
}

thead td{
    padding: 0.5em 2em;
    font-weight: bold;
    border-right: /*0.5vw*/ 0.1em solid #cccccc;
}

tr{
    background-color: #b3b3b3;
}


tr:nth-child(even){
    background-color: #cccccc;
}

td{
    border-right: /*0.5vw*/ 0.1em solid #e6e6e6;
    padding: 0.25em 2em;
}

td:last-child{
    border-right: none;
}


/*margin_auto class*/
.margin_auto{
    margin: auto;
}

@media screen and (max-width: 900px){
    body{
        font-size: 24px;
    }
}