/* --- GENERAL ELEMENTS --- */

body{
    background-color: #0f0;
    font-size: 18px;
}

h1{
    text-align: center;
}

a{
    font-weight: 600;
    color: #609;
}

a:hover{
    color: #90c;
}

a:visited{
    color: #306;
}

a:visited:hover{
    color: #609;
}

table{
    background-color: #000;
}

thead tr{
    background-color: #aa0 !important;
    border-bottom: 0.2em solid #000;
}

thead td{
    padding: 0.5em 2em;
    font-weight: bold;
    border-right: 0.1em solid #660;
}

tr{
    border-bottom: 0.5em solid #000;
    background-color: #330;
}


tr:nth-child(even){
    background-color: #660;
}

td{
    border-right: 0.1em solid #aa0;
    padding: 0.25em 2em;
}

td:last-child{
    border-right: none;
}

/* --- GENERAL CLASS --- */
.margin_auto{
    margin: auto;
}

/* --- MAIN --- */
/*CONTENT BOX: SHELLS FOR CONTENT DIV*/
.content_box{
    background-color: #050;
    color: #0f0;
    width: 99%;
    min-height: 6em;
    margin: auto;
}

#header{
    margin-bottom: 1.5em;
}

#footer{
    margin-top: 1.5em;
}

#center{
    min-height:100vh;
    width: 50vmax;
    min-width: fit-content;
}

/* CONTENT:  */

.content{
    padding: 1em;
}

#center_content{
    padding: 3em;
    overflow: scroll;
}

#header_content{
    height: 4em;
}

.header_content_link{
    margin: 2em 1em;
}

#header_content_icon{
    height: 100%;
    width: auto;
}

/* --- LANDING --- */
/* LANDING SEARCHBAR*/
#landing_searchbar{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: 700;
    border-radius: 8px;
}

#search_field{
    overflow: hidden;
    margin-bottom: 1em;
}

#advanced_search_field{
    overflow: hidden;
    margin-top: 1em;
}

.search_field_active{
    height: auto;
}

.search_field_inactive{
    height: 0;
}

#advanced_search_field table{
    width: 100%;
}
#advanced_search_field td{
    padding: 0.25em 0.5em;
}

#advanced_search_field input{
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

#advanced_fields_link{
    display: inline-block;
    width: 100%;
    text-align: right;
    user-select: none; 
}