{% enxtends "main.html" %}

{% block title %}
    Administrera Träd
{% endblock %}

{% block content %}
<!-- 
    en input box: "fyll i proviens-#"
    En knapp: "Redigera befinltigt träd"

    Under detta finns formen med alla nödvändiga fält
    Fälten är tomma tills att man tryckt på "Redigera befinltigt träd"-knappen.
    Dessa fält används också för att lägga till nytt träd.

    Under fälten finns två knappar; "Spara Ändringar" och "Lägg till nytt träd"

-->

    <input type="text" placeholder="Proviensnummer" id="proviens" name="proviens">
    <input type="submit" value="Hämta">
    <br>
    <!-- Fälten Startar Här -->
    <input type="text" id="pvn" name="pvn">
    
    <!-- Fälten Slutar Här -->
    <br>
    
    <button type="submit" style="display: inline-block; margin-right: 10px;">Spara Ändringar</button>
    <button type="submit" style="display: inline-block;">Lägg till nytt</button>
    <br>
{% endblock content %}
